@charset 'UTF -8';
/*diferença de id e class
class = utilizado quando estilizamos mais de um elemento.
id = quando valos estilizar um unico elemento. */
body {
    font-family:"Edu AU VIC WA NT Hand", cursive;
    font-size: 15px;
    font-weight: bolder;
}
.container {
    height: 300px;
    width: 80%;
    background-color: rgba(165, 42, 42, 0.411);
    color: white;
    margin: auto;
    padding: 20px;
    border: 3px outset black;
}