@charset 'UTF -8';
/*diferença de id e class
class = utilizado quando estilizamos mais de um elemento.
id = quando valos estilizar um unico elemento. */
* {
    box-sizing: border-box;
}
body {
    
    font-size: 15px;
    font-weight: bolder;
}
.box {
    width: 80%;
    margin: auto;
    position: relative;
}
.container {
    height: 300px;
    width: 80%;
    background-color: rgba(165, 42, 42, 0.411);
    color: white;
    margin: auto;
    padding: 20px;
    border: 3px outset black;
    font-family:"Edu AU VIC WA NT Hand", cursive;
}
aside {
    margin: auto;
    height: 100px;
    width: 80%;
    padding: 0;
    margin-top: 10px;
    
}
.main-aside h2 {
    text-align: center;
}
.main-aside h2:hover {
    color: green;
    transition: 0.5s;
}
.main-aside ul {
    list-style: none;
    text-align: center;
    padding: 0;
}
.main-aside ul a {
    text-decoration: none;
    color: black;
}
.main-aside ul a:hover {
    color: red;
    transition: 1s;
}
.main-aside ul a:visited {
    color: brown;
}
/* formularios */

.main-form {
    padding-left: 30px;
    font-family:"Edu AU VIC WA NT Hand", cursive;
}
.main-form .form-group {
    padding-bottom: 10px;
}
/* colocando as labels em cima do input*/
.main-form .form-group label {
    display: block;
}
.main-form .form-group input {
    padding: 5px;
}
.button {
    padding: 15px;
    background-color: black;
    color: white;
}

/*positions*/

.box-relative {
    position: relative;
    border: 3px solid black;
    height: 500px;
    padding-left: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.box-relative .absolute {
    position: absolute;
    bottom: 0;
}
.box-relative .absolute h1 {
    margin: 0;
}
/*barra de navegação*/

#mainnavbar {
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
}

/*button fixed */

.button-fixed {
    background-color: black;
    color: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
}
/*categorias*/
.categorias ul {
    list-style: none;
}

/*utilizando pseudo-classe para estilizar, utilizando pseudo-classes para estilizar os elementos filhos.*/

.categorias ul li:first-child {
    color: red;
    /*utlizado para estilizar o primeiro elemento filho.*/
}
.categorias ul li:last-child {
    color: green;
    /*utilizado para estilizar o ultimo elemento filho*/
}
.categorias ul li:nth-child(3) {
    color: blue;
    /*utilizado para estilizar o elemento filho escolhido no ().
    também pode ser utilizado para escolher os itens pares com (even) e impares com (odd)*/
}

