@charset 'UTF-8';

h2 {
    text-align: center;
}
div.call{
    margin: auto;
    background-color: rgba(0, 0, 255, 0.5);
    height: 500px;
    width: 500px;
    color: white;
}
 #n1{
padding: 15px;
border: 5px;
 }
#n2 {
    padding: 15px;
    border: 5px;
}