@charset 'UTF-8';

header {
    padding: 20px;
    text-align: center;
    background-color: #F1F1F1;
    margin: 10px;
}
nav {
    text-align: center;
    margin: 10px;
    background-color: black;
    font-size: 1.3em;
}
aside {
    height: 200px;
    width: 100px;
}
main {
    text-align: justify, right;
    position: absolute;
    height: 300px;
    width: 200px;
    position: absolute;    
}